$breakPointTablet: 1067px;
$breakPointMobile: 767px;
$breakPointMobileSmall: 395px;
$backgroundColor: #fff;
$activeColor: #2f80ed;
$borderColor: #e8e7e7;
$previewColor: #e2e2e2;
$titleColor: #2d3748;
$contentColor: #718096;
$gap: 20px;
$gapSize: 30px;
$gapNews: 40px;
$gapScrollBottom: 120px;
$gapContainer: 5%;
