$min-width-desktop: 1200px;
$min-width-laptop: 1024px;
$min-width-tablet: 768px;

$color-hover: #2f80ed;
$color-selected: #fe9e0f;
$color-text: #718096;
$color-title: #2d3748;
$color-border: #e8e7e7;

$padding-inline-mobile: 20px;
$padding-inline-tablet: 40px;
$padding-inline-desktop: 60px;

$hight-header-mob: 90px;
$hight-header-tab: 60px;
$hight-header-lap: 60px;
$hight-header-detail-mob: 48px;

$hight-footer-mob: 91px;
$hight-footer-tab: 93px;
$hight-footer-lap: 61px;
